


* {
  background-color: #4E8098;
  margin: 10px;
  border: 10px;
  padding: 5px;
}

h1 {
  border-style: double;
}

#myHeader {
  text-align: center;
  padding: 20px;
  background-color: rgb(206, 178, 17);
}


#myFooter{
  text-align: center;
  padding: 10px;
}

#img{
  height:260px;
  margin: 10px;
  border: 5px;
  padding: 5px;
  border-radius: 8px;

}

#myFooter > p {
  border-style: double;
font-weight: 900;
background-color: #610345;
}

.unorderedList{
  font-size: large;
}
